.promo {
    position: relative;
    margin-bottom: 115px;
    padding-bottom: 100px;
    &__content {
        max-width: 550px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    &__header {
        color: #150C01;
        font-size: 48.83px;
        line-height: 58px;
        font-family: 'Philosopher-Bold';
        padding: 0;
        margin: 0 0 25px 0;
    }
    &__text {
        color: #150C01;
        opacity: 0.7;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Roboto-Medium';
        margin-bottom: 70px;
    }
    &__order {
        background: #DC780B;
        border-radius: 5px;
        padding: 20px 35px;
        font-family: 'Roboto-Regular';
        color: #fff;
        margin-right: 24px;
    }
    &__details {
        border-radius: 5px;
        padding: 18.5px 35px;
        font-family: 'Roboto-Regular';
        color: #DC780B;
        border: 1.5px solid rgba(220, 120, 11, 0.7);
    }
    &__img {
        position: relative;
        z-index: -1;
        left: 566px;
        top: -67px;
        width: 520px;
        height: 551px;
    }
}