.testimonial {
    margin: 0 0 120px 0;
    &__header {
        font-family: "Roboto-Medium";
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: rgba(220, 120, 11, 0.7);
        margin: 0 0 12px 0;
    }
    &__subheader {
        font-family: "Philosopher-Bold";
        font-size: 31.25px;
        color: #000000;
        text-align: center;
        margin: 0 0 23px 0;
    }
    &__paragraph {
        max-width: 750px;
        margin: 0 auto 18px auto;
        font-family: 'Roboto-Regular';
        line-height: 24px;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
    }
    &__item {
        position: relative;
        
    }
    &__img {
        height: auto;
        z-index: -1;
        border-radius: 100%;
        width: 50px;
        height: 50px;
    }

    &__figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 140px;
        margin: 0 auto;    
    }

    &__bg {
        margin: 0 0 -52px -56px;
    }

    &__content {
        width: 500px;
        margin: 0 auto;
        &-text {
            margin: 0 0 20px 0;
            font-family: 'Roboto-Regular';
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
        &-rating {
            margin: 0 0 30px 0;
        }
        &-img {
            display: block;
            margin: 0 auto;
        }
        &-signature {
            text-align: center;
        }
        &-name {
            margin: 0 0 6px 0;
            font-family: 'Roboto-Regular';
            text-align: center;
            text-transform: uppercase;
        }
        &-position {
            font-family: 'Roboto-Regular';
            font-size: 12px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.7);
        }
    }
    
    .slick-dots {
        display: flex;
        justify-content: center;
        // align-items: center;
        button {
            background-color: #242121;
            opacity: 0.4;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            font-size: 0;
            padding: 0;
            border: none;
        }
        .slick-active button {
            opacity: 1;
            width: 10px;
            height: 10px;
            transform: translateY(-2px);
            -webkit-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
            -o-transform: translateY(-2px);
}
    }

    .slick-dots li + li {
        margin-left: 13px;
    }

    .slick-prev, .slick-next {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        position: absolute;
        //top: 58%;
        bottom: 120px;
        transform: translateY(50%)    ;
        -webkit-transform: translateY(50%)    ;
        -moz-transform: translateY(50%)    ;
        -ms-transform: translateY(50%)    ;
        -o-transform: translateY(50%)    ;
}

.slick-prev {
    left: 170px;
    z-index: 10;
}

.slick-next {
    right: 170px;
}

    
}